header{
  position: fixed;
  width: 100%;
  z-index:1000;
  top: 0;
}
.encabezado{
  display: block;
  position: relative;
}
.linea1{
  display: inline-block;
  width: 2px;
  height: 30px;
  background: #c9d0db;
  position: absolute;
  left: 6%;
  top: 30%;
}
.coment{
  background-color: green;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 1px;
  position: absolute;
    top: 11%;
    left:22%;
    font-size: 20px;
    padding-top: 3%;
}
.parteizq{
  position: absolute;
  top: 10px;
  right: 0px;
  height: 50px;
  width: 20%;
  text-align: center;
}
.parteizq>div {
  display: inline-block;
 margin-left: 10px;
 margin-right: 10px;
}
.edit{
  margin-top: 0px;
position: absolute;
top: 17px;
left: 0;
}
.icon-search{

top: 31%;
position: absolute;
left: 13%;
}
.img2{
  border-radius: 50%;
  height: 50px;
}
.logo1{
  margin:10px 20px;
}
.foto1{
  margin:10px 20px;
}
.icon-twitter{
  margin:10px;
  text-align: center;
  color: #a5adba;
  font-size: 20px;
  display: inline-block;
}
.icon-facebook-with-circle{
   color: #a5adba;
   font-size: 20px;
   display: inline-block;
}
.redes1{
  display: inline-block;
    margin: 10px ;
    position: absolute;
    top:10px;
}
.logolab{
  height: 50px;
  position: absolute;
  right: 20%;
}
header> span{
  margin:10px 10px;
}
.texto{
  margin-top: 90px;
  padding-left: 20%;
  padding-right: 20%;
}
.texto1{
  display: inline-block;
}
.texto1 h1{
  color: #444444;
}
.texto1 p{
  color: #C9C9C9;
}
.img3{
  border-radius: 50%;
  height: 80px;
  display: inline-block;
}
.datosCoder{
  display: inline-block;
  margin-left: 10px;
}
